<link href="https://fonts.googleapis.com/css?family=Revalia" rel="stylesheet">
<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand text-center" style="">
      <a href="#">
        <p style="font-family: 'Revalia', cursive;">
          Hack GSU Spring 2017
        </p>
      </a>
    </li>

    <li style="margin-top: 20%">
      <div class="text-center" style="">
        <p class="animate infinite" ng-class="main.classAnimation">
          <button type="button" class="btn btn-sm btn-success" ng-click="main.showToastr()"> <span class="fa fa-sign-in" ></span> Login</button>
          <button type="button" class="btn btn-sm btn-success" ng-click="main.showToastr()"> <span class="fa fa-registered" aria-hidden="true"></span> Register</button>
        </p>
        <!--<p style="">-->
        <!--<acme-malarkey extra-values="['Quick', 'Adapive', 'Flexible']"></acme-malarkey>-->
        <!--</p>-->
      </div>

    </li>

    <li>
      <a href="#"><i class="fa fa-superpowers" style="color: #00b3ee;"></i> Dashboard </a>
    </li>
    <li>
      <a href="#"> <i class="fa fa-users" style="color: #FFFFAD;"> </i> Study Matching</a>
    </li>
    <li>
      <a href="#">Overview</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<!-- /#page-content-wrapper -->
