<button class="btn btn-danger btn-sm" style="float: right;" ng-click="vm.closeModal()">&times;</button>
<div class="container" style="clear: both; margin-left: 30%; margin-bottom: 50px">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h2> <i class="fa fa-sign-in"></i> Login</h2>
      </div>
      <div class="form-group">
        <label for="email" class="sr-only">Username</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="username" name="username" type="text" class="form-control" placeholder="Username" ng-model="vm.userName">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="password" name="password" type="password" class="form-control" placeholder="Password" ng-model="vm.userPassword">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="vm.logIn()">Login</button>
      </div>
    </div>
  </div>
</div>
